<section class="factone-module">
    <div class="container">
        <div class="row fact-one align-items-center">
            <div class="col-lg-6 col-12 text-center">
                <img class="factone-image" src="../../../assets/images/mickey1.png" alt="">
            </div>
            <div class="col-lg-6 col-12 factone-text">
                <p class="factone-info"><span class="color-change">Mickey</span> has made two special appearances at the
                    Academy Awards over the years: once in 1988 and another in 2003.</p>
                <p class="factone-info">He presented the <span class="onlycolor-change">Oscar</span> for Best Animated
                    Short film on both occasions.</p>
            </div>
        </div>
    </div>
</section>