@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.factone-module{
    background-color: $color-black;
    color: $color-contrasting;
    border-top: 8px solid $color-lightbrown;

    .factone-image{
        width: 100%;
    }
    .factone-text{
        text-align: center;
    }
    .factone-info{
        font-size: $font-xl;
        font-weight:lighter;
        letter-spacing: 2px;
        font-family: 'Finlandica', sans-serif;
    }
    .color-change{
        color: $color-lightbrown;
        font-style: italic;
        font-weight: 500;
        font-size: $font-name;
        font-family: 'Chela One', cursive;
    }
}

@include tablet{
    .factone-module{
        .fact-one{
            flex-direction: column-reverse;
        }
    }
}