<section class="factthree-module">
    <div class="container">
        <div class="row fact-three align-items-center">
            <div class="col-lg-6 col-12 text-center">
                <img class="factthree-image" src="../../../assets/images/mickey4.png" alt="">
            </div>
            <div class="col-lg-6 col-12 factthree-text">
                <!-- <p class="factone-name">Mickey Mouse</p> -->
                <p class="factthree-info"><span class="color-change">Mickey</span> was the first cartoon character to
                    earn a
                    star on the Hollywood Walk of Fame!</p>
                <p class="factthree-info">His star was added on <span class="onlycolor-change">November 18, 1978</span>
                </p>
            </div>
        </div>
    </div>
</section>