<section class="facttwo-module">
    <div class="container">
        <div class="row fact-two align-items-center">
            <div class="col-lg-6 col-12 facttwo-text">
                <!-- <p class="factone-name">Mickey Mouse</p> -->
                <p class="facttwo-info"><span class="color-change">Mickey</span> has different names around the world.
                </p>
                <p class="facttwo-info">For example, he is known as <span class="onlycolor-change">Musse Pigg</span> in
                    Sweden, <span class="onlycolor-change">Mi Lao Shu</span> in China and <span
                        class="onlycolor-change">Topolino</span> in Italy.</p>
            </div>
            <div class="col-lg-6 col-12 text-center">
                <img class="facttwo-image" src="../../../assets/images/mickey3.png" alt="">
            </div>
        </div>
    </div>
</section>